﻿body
{
  font-weight: normal;
  list-style-position: outside;
  font-size: small;
  color: black;
  font-family: Tahoma;
  list-style-type: disc;
  text-align: justify;
  background-color: #ffffff;
  margin-top: 0px;
}

H1
{
  font-weight: bold;
  font-size: x-large;
  color: blue;
  font-family: Tahoma;
  margin-top: 4px;
  margin-bottom: 4px;
  background: url(Pictures/yell.gif) white repeat-x;
}

H2
{
  font-weight: bold;
  font-size: large;
  color: blue;
  font-family: Tahoma;
  margin-top: 4px;
  margin-bottom: 4px;
  background: white url(Pictures/yell.gif) repeat-x;
}

H3
{
  font-weight: bold;
  font-size: medium;
  color: blue;
  font-family: Tahoma;
  margin-top: 4px;
  margin-bottom: 4px;
}

H4
{
  font-weight: bold;
  font-size: small;
  color: blue;
  font-family: Tahoma;
  padding-bottom: 0px;
  margin-top: 4px;
  margin-bottom: 2px;
  padding-top: 0px;
}

p
{
  padding-bottom: 0px;
  margin-top: 1px;
  margin-bottom: 1px;
  padding-top: 0px;
}