body     { font-size: 12px; font-family: Tahoma }
h1       { font-weight: bold; font-size: 28px; font-family: Tahoma }
h2       { font-weight: bold; font-size: 24px; font-family: Tahoma }
h3       { font-weight: bold; font-size: 20px; font-family: Tahoma }
h4
{
  font-weight: bold;
  font-size: 16px;
  font-family: Tahoma;
  border-bottom: 1px solid orange;
  margin-bottom: 5px;  
}
h5       { font-weight: bold; font-size: 13px; font-family: Tahoma; margin-bottom: 2px; }
h6       { font-weight: bold; font-size: 11px; font-family: Tahoma }
td       { font-size: 11px; font-family: Tahoma }

/*CSS classes for resizable control*/
.resizingImage
{
	padding:0px;
	border-style:solid;
	border-width:3px;
	border-color:#B4D35D;
}

.handleImage
{
	width:15px;
	height:16px;
	background-image:url(Pictures/HandleHand.png);
	overflow:hidden;
	cursor:se-resize;
}