<%@ Page Language="C#" MasterPageFile="~/Default.master" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="_Default" Title="Telediagnostica system management" %>
<asp:Content ID="cntDefault" ContentPlaceHolderID="contentPH" Runat="Server">
</asp:Content>

