<%@ Master Language="C#" AutoEventWireup="true" CodeFile="Default.master.cs" Inherits="Administration_Admin" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
  <title>Untitled Page</title>
  <link href="Default.css" rel="stylesheet" type="text/css" />
  <link href="Administration/calendar/calendar.css" rel="stylesheet" type="text/css" />
  <style type="text/css">
   <!--
   .style7 {font-size: 16px; font-weight: bold; color: #FFFFFF;}
   .style8 {color: #FFFFFF}
   .style9 {font-family: "Courier New", Courier, monospace}
   -->
  </style>
</head>
<body style="margin: 0px">
  <form id="form1" runat="server">
    <div>
      <table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#005588">
        <tr>
          <td style="width: 68px; height: 48px;" align="center">
            <asp:Image ID="Image1" runat="server" ImageUrl="~/Pictures/logo_ti.gif" />
          </td>
          <td valign="middle">
            <table border="0" cellspacing="1" cellpadding="1">
              <tr>
                <td class="style7">
                  Telediagnostica - Monitoring and Diagnostic System</td>
              </tr>
              <tr>
                <td class="style8">
                  Ground Server Web Interface
                </td>
              </tr>
            </table>
          </td>
          <td>
            <asp:Image ID="Image2" runat="server" ImageAlign="Right" ImageUrl="~/Pictures/logo_uc.gif" />
          </td>
          <td>
            &nbsp;
          </td>
        </tr>
        <tr>
          <td colspan="4" style="height: 16px; vertical-align: bottom;">
            <asp:Image ID="Image3" runat="server" Height="16px" ImageAlign="AbsBottom" ImageUrl="~/Pictures/shade.jpg"
              Width="100%" />
          </td>
        </tr>
      </table>
    </div>
    <div style="margin-left: 5px">
      <asp:Menu ID="navMenu" runat="server" DataSourceID="SiteMapDataSource" DynamicVerticalOffset="5"
        Font-Names="Tahoma" Font-Size="Small" Orientation="Horizontal" DynamicEnableDefaultPopOutImage="False"
        StaticEnableDefaultPopOutImage="false">
        <StaticHoverStyle BackColor="Gray" BorderColor="DarkOrange" BorderStyle="Solid" BorderWidth="1px" />
        <StaticSelectedStyle Font-Names="Tahoma" Font-Size="Small" ForeColor="White" />
        <StaticMenuItemStyle BackColor="Black" Font-Names="Tahoma" Font-Size="Small" ForeColor="White"
          HorizontalPadding="5px" BorderColor="White" BorderStyle="Solid" BorderWidth="1px"
          Height="25px" Width="150px" ItemSpacing="0px" />
        <DynamicHoverStyle BackColor="Gray" BorderColor="DarkOrange" BorderStyle="Solid"
          BorderWidth="1px" />
        <DynamicSelectedStyle Font-Names="Tahoma" Font-Size="Small" ForeColor="White" />
        <DynamicMenuItemStyle BackColor="Black" Font-Names="Tahoma" Font-Size="Small" ForeColor="White"
          HorizontalPadding="5px" BorderColor="White" BorderStyle="Solid" BorderWidth="1px"
          Height="25px" Width="150px" />
      </asp:Menu>
      <asp:SiteMapDataSource ID="SiteMapDataSource" runat="server" ShowStartingNode="False" />
    </div>
    <asp:ContentPlaceHolder ID="contentPH" runat="server">
    </asp:ContentPlaceHolder>
  </form>
</body>
</html>
